@import "tailwindcss";


:root {
  --primary: #4f46e5;
  --primary-light: #a5b4fc;
  --primary-hover: #4338ca;
  --secondary: #6b7280;
  --background: #f9fafb;
  --text: #111827;
  --accent:#E41CB6;
}

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

